div.install-theme-info {
	display: block !important;
}

/* Remove star rating for themes. */
#theme-installer div.install-theme-info div.star-rating {
	display: none;
}


@media screen and (max-width: 782px) {
	/* Properly align branch switcher in mobile. */
	.plugins .plugin-update-tr .notice { margin-left: 0; }

	/* Fix for ::before on mobile. */
	.git-updater.plugin-update-tr.active:before {
		background-color: #f0f6fc;
		border-left: 4px solid #72aee6;
	}
}
