* text=auto

.gitattributes export-ignore
.gitignore export-ignore
composer.lock export-ignore
phpunit.xml export-ignore
/.github export-ignore
/bin export-ignore
/tests export-ignore
/wiki-assets export-ignore
