.DS_Store
.idea
.vscode
.claude

vendor/bin
vendor/dealerdirect
vendor/squizlabs
vendor/wp-coding-standards
vendor/phpcsstandards
vendor/mcaskill
vendor/phpunit
vendor/yoast
vendor/sebastian
vendor/phar-io
vendor/myclabs
vendor/theseer
vendor/doctrine
vendor/phpstan
vendor/nikic
vendor/szepeviktor
vendor/php-stubs

node_modules/
package-lock.json
.phpunit.result.cache
coverage-html/
