language: php

dist: trusty

notifications:
  email:
    on_success: never
    on_failure: change

php:
  - 5.4
  - 5.6
  - 7.0
  - 7.1

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=latest WP_MULTISITE=1

matrix:
  include:
    - php: 5.3
      env: WP_VERSION=latest WP_MULTISITE=0
      dist: precise
    - php: 5.3
      env: WP_VERSION=latest WP_MULTISITE=1
      dist: precise

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

  - |
    stable='^[0-9\.]+$'
    if [[ "$TRAVIS_PHP_VERSION" =~ $stable ]]; then
      phpenv config-rm xdebug.ini
    fi
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
      composer global require "phpunit/phpunit=5.7.*"
    elif [[ ${TRAVIS_PHP_VERSION:0:3} != "5.2" ]]; then
      composer global require "phpunit/phpunit=4.8.*"
    fi
  - phpunit --version

script: phpunit
