parameters:
	ignoreErrors:
		-
			message: '#^@param stdClass\|null \$repo_api does not accept actual type of parameter\: Fragen\\Git_Updater\\API\\GitHub_API\|null\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Call to an undefined method Fragen\\Git_Updater\\API\\API\:\:parse_asset_dir_response\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Call to an undefined method Fragen\\Git_Updater\\API\\API\:\:parse_branch_response\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Call to an undefined method Fragen\\Git_Updater\\API\\API\:\:parse_contents_response\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Call to an undefined method Fragen\\Git_Updater\\API\\API\:\:parse_meta_response\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Call to an undefined method Fragen\\Git_Updater\\API\\API\:\:parse_tag_response\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Cannot call method add_endpoints\(\) on stdClass\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Cannot call method add_repo_setting_field\(\) on stdClass\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\API\:\:get_api_release_asset\(\) should return array\<string, mixed\>\|string but returns false\.$#'
			identifier: return.type
			count: 2
			path: src/Git_Updater/API/API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\API\:\:get_api_release_assets\(\) should return array\<string, mixed\> but returns false\.$#'
			identifier: return.type
			count: 2
			path: src/Git_Updater/API/API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\API\:\:get_local_info\(\) should return string\|null but returns false\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\API\:\:parse_release_asset\(\) should return array\<string, mixed\>\|string\|WP_Error but returns stdClass\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Offset ''timeout'' does not exist on array\{headers\: WpOrg\\Requests\\Utility\\CaseInsensitiveDictionary, body\: string, response\: array\{code\: int, message\: string\}, cookies\: array\<int, WP_Http_Cookie\>, filename\: string\|null, http_response\: WP_HTTP_Requests_Response\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Offset non\-falsy\-string does not exist on string\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Offset non\-falsy\-string on string in empty\(\) does not exist\.$#'
			identifier: empty.offset
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Parameter \#1 \$response of function wp_remote_retrieve_body expects array\|WP_Error, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(mixed\)\: bool\)\|null, Closure\(mixed\)\: ''readme\.txt'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/API/API.php

		-
			message: '#^Parameter \#4 \$timeout of method Fragen\\Git_Updater\\API\\API\:\:set_repo_cache\(\) expects bool\|string, int given\.$#'
			identifier: argument.type
			count: 3
			path: src/Git_Updater/API/API.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Git_Updater/API/GitHub_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\GitHub_API\:\:get_repo_assets\(\) should return array\<string, mixed\> but returns bool\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/API/GitHub_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\GitHub_API\:\:get_repo_contents\(\) should return array\<string, mixed\> but returns bool\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/API/GitHub_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\GitHub_API\:\:parse_branch_response\(\) should return array\<string, array\<string, string\>\> but returns stdClass\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/API/GitHub_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\API\\GitHub_API\:\:ratelimit_reset\(\) should return int\|void but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/API/GitHub_API.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(array\<string, mixed\>\|stdClass\)\: bool\)\|null, Closure\(mixed\)\: void given\.$#'
			identifier: argument.type
			count: 2
			path: src/Git_Updater/API/GitHub_API.php

		-
			message: '#^@param stdClass \$obj does not accept actual type of parameter\: \$this\(Fragen\\Git_Updater\\API\\Language_Pack_API\)\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Git_Updater/API/Language_Pack_API.php

		-
			message: '#^Filter callback return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Git_Updater/Add_Ons.php

		-
			message: '#^Parameter \#1 \$args of method WP_List_Table\:\:set_pagination_args\(\) expects array\{total_items\?\: int, total_pages\?\: int, per_page\?\: int\}, array\{total_items\: int\<1, max\>, per_page\: int\<1, max\>, total_pages\: float\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Additions/Repo_List_Table.php

		-
			message: '#^Filter callback return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Git_Updater/Additions/Settings.php

		-
			message: '#^Parameter \#1 \$options of method Fragen\\Git_Updater\\Additions\\Additions\:\:deduplicate\(\) expects array\<int, array\<string, mixed\>\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Additions/Settings.php

		-
			message: '#^Parameter \#3 \$args of function register_setting expects array\{type\?\: string, label\?\: string, description\?\: string, sanitize_callback\?\: callable\(\)\: mixed, show_in_rest\?\: array\|bool, default\?\: mixed\}, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Additions/Settings.php

		-
			message: '#^@param array \$additions does not accept actual type of parameter\: null\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Git_Updater/Base.php

		-
			message: '#^@param array\<string, string\> \$installed_apis does not accept actual type of parameter\: array\<string, bool\>\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Git_Updater/Base.php

		-
			message: '#^Action callback returns array\<string, mixed\>\|WP_Error but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Git_Updater/Base.php

		-
			message: '#^Method Fragen\\Git_Updater\\Base\:\:get_remote_repo_meta\(\) should return bool\|stdClass but empty return statement found\.$#'
			identifier: return.empty
			count: 1
			path: src/Git_Updater/Base.php

		-
			message: '#^Static property Fragen\\Git_Updater\\Base\:\:\$installed_apis \(array\<string, bool\>\) does not accept array\<string, string\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Git_Updater/Base.php

		-
			message: '#^Call to new WP_Dismiss_Notice\(\) on a separate line has no effect\.$#'
			identifier: new.resultUnused
			count: 1
			path: src/Git_Updater/Bootstrap.php

		-
			message: '#^Function FAIR\\Default_Repo\\get_default_repo_domain not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Git_Updater/Bootstrap.php

		-
			message: '#^Method Fragen\\Git_Updater\\Bootstrap\:\:rename_on_activation\(\) should return bool\|void but returns WP_Error\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/Bootstrap.php

		-
			message: '#^Call to static method instance\(\) on an unknown class FS_Plugin_Updater\.$#'
			identifier: class.notFound
			count: 1
			path: src/Git_Updater/GU_Freemius.php

		-
			message: '#^Function gu_fs not found\.$#'
			identifier: function.notFound
			count: 2
			path: src/Git_Updater/GU_Freemius.php

		-
			message: '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
			identifier: function.inner
			count: 1
			path: src/Git_Updater/GU_Freemius.php

		-
			message: '#^Parameter \$gu_fs of method Fragen\\Git_Updater\\GU_Freemius\:\:remove_fs_plugin_updater_hooks\(\) has invalid type Freemius\.$#'
			identifier: class.notFound
			count: 2
			path: src/Git_Updater/GU_Freemius.php

		-
			message: '#^Function gu_fs not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Git_Updater/GU_Upgrade.php

		-
			message: '#^Parameter \#2 \$version2 of function version_compare expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: src/Git_Updater/GU_Upgrade.php

		-
			message: '#^Property Fragen\\Git_Updater\\GU_Upgrade\:\:\$db_version \(int\) does not accept default value of type string\.$#'
			identifier: property.defaultValue
			count: 1
			path: src/Git_Updater/GU_Upgrade.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Git_Updater/Init.php

		-
			message: '#^Parameter \#3 \$callback of function add_settings_section expects callable\(\)\: mixed, array\{\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Install.php

		-
			message: '#^Function gu_fs not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Git_Updater/Messages.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: src/Git_Updater/Messages.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Git_Updater/Plugin.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(array\<string\>\)\: bool\)\|null, Closure\(mixed\)\: array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Plugin.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(int\|string\)\: bool\)\|null, Closure\(mixed\)\: \(int\|string\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Plugin.php

		-
			message: '#^Class Fragen\\Git_Updater\\REST\\Rest_Update referenced with incorrect case\: Fragen\\Git_Updater\\REST\\REST_Update\.$#'
			identifier: class.nameCase
			count: 4
			path: src/Git_Updater/REST/REST_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\REST\\REST_API\:\:flush_repo_cache\(\) should return stdClass but returns array\<string, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/REST/REST_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\REST\\REST_API\:\:get_additions_data\(\) should return array\<string, mixed\> but returns array\<int, array\<string, mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/REST/REST_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\REST\\REST_API\:\:get_api_data\(\) should return array\<string, mixed\>\|WP_Error but returns object\{error\: string, rate_limit\: array\<string, mixed\>\|WP_Error\}&stdClass\.$#'
			identifier: return.type
			count: 1
			path: src/Git_Updater/REST/REST_API.php

		-
			message: '#^Method Fragen\\Git_Updater\\REST\\REST_API\:\:get_api_data\(\) should return array\<string, mixed\>\|WP_Error but returns object\{error\: string\}&stdClass\.$#'
			identifier: return.type
			count: 3
			path: src/Git_Updater/REST/REST_API.php

		-
			message: '#^Parameter \#2 \$redirect of function activate_plugin expects string, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/REST/Rest_Update.php

		-
			message: '#^Variable \$current_branch might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/Git_Updater/REST/Rest_Update.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(array\<int, string\>\)\: mixed\)\|null, ''strip_tags'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/REST/Rest_Upgrader_Skin.php

		-
			message: '#^Filter callback return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Git_Updater/Remote_Management.php

		-
			message: '#^Parameter \#1 \$prefix of function uniqid expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Remote_Management.php

		-
			message: '#^One or more @param tags has an invalid name or invalid syntax\.$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Git_Updater/Settings.php

		-
			message: '#^Parameter \#2 \$title of function add_settings_field expects string, null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Git_Updater/Settings.php

		-
			message: '#^Unsafe access to private property Fragen\\Git_Updater\\Settings\:\:\$git_hosts through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 2
			path: src/Git_Updater/Settings.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Git_Updater/Shim.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Git_Updater/Theme.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(array\<string\>\)\: bool\)\|null, Closure\(mixed\)\: array\<string, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Theme.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(int\|string\)\: bool\)\|null, Closure\(mixed\)\: \(int\|string\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/Git_Updater/Theme.php

		-
			message: '#^Call to function is_wp_error\(\) with stdClass will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: src/Git_Updater/WP_CLI/CLI_Integration.php

		-
			message: '#^Parameter \#1 \$errors \(stdClass\) of method Fragen\\Git_Updater\\WP_CLI\\CLI_Plugin_Installer_Skin\:\:error\(\) should be compatible with parameter \$errors \(string\|WP_Error\) of method WP_Upgrader_Skin\:\:error\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Git_Updater/WP_CLI/CLI_Integration.php

		-
			message: '#^Parameter \#1 \$errors \(stdClass\) of method Fragen\\Git_Updater\\WP_CLI\\CLI_Theme_Installer_Skin\:\:error\(\) should be compatible with parameter \$errors \(string\|WP_Error\) of method WP_Upgrader_Skin\:\:error\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Git_Updater/WP_CLI/CLI_Integration.php
