includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - git-updater.php
    excludePaths:
        - '*/vendor/*'
        - '*/tests/*'
