<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<coverage>
		<include>
			<directory suffix=".php">./src/Git_Updater</directory>
		</include>
		<report>
			<html outputDirectory="coverage-html"/>
		</report>
	</coverage>

	<testsuites>
		<testsuite name="tests">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/test-sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
